# ==========================================
# V.Live Core Environment Template
# ==========================================

GEMINI_API_KEY="YOUR_GEMINI_API_KEY"
LIVEKIT_URL="wss://aramlive-4aq8o7ae.livekit.cloud"
LIVEKIT_API_KEY="APIsWcf3vAcr9fv"
LIVEKIT_API_SECRET="kN7sfSUCrScSTFSNoNiLGXfQFTJdqyEThy7tmoZCO0p"
DATABASE_URL="postgresql://postgres.oybonjfysshoppnbsutn:Rayan0935artist@aws-0-eu-west-1.pooler.supabase.com:6543/postgres"
TELEGRAM_BOT_TOKEN="8973478139:AAEqZXNDx8G1i_KLAEncuI0lPM0Bysm68GQ"
JWT_SECRET_KEY="9fA7xL#2vQm8@Kp4Rz!6Nc1Wd$5TyH3Ju8Bs0Eg7Mn2Lp9Xq4Cv6Df1Ar5Zh"
ADMIN_API_KEY="2d8f7a9c4e1b6f3d8a5c9b7e1f4a6d2c9e8b5f1a7d3c6e9f"
USDT_TRC20_WALLET="TBMvBiVB6mhu1gnaAAE1Pg5YohKvV1NSnB"
VITE_API_URL="https://vlive-gr3l.onrender.com"
